<launch>

<node pkg="mines" type="agent_standard.py" name="1" output="screen">
</node>

<node pkg="mines" type="agent_standard.py" name="2">
</node>

<node pkg="mines" type="agent_standard.py" name="3">
</node>

<node pkg="mines" type="agent_standard.py" name="4">
</node>

<node pkg="mines" type="agent_standard.py" name="5">
</node>

<node pkg="mines" type="agent_standard.py" name="6">
</node>

<node pkg="mines" type="agent_standard.py" name="7">
</node>

<node pkg="mines" type="agent_standard.py" name="8">
</node>



</launch>
