<launch>
<param name="multi_agent_model" type="string" value="pure"/>
<param name="agent_poll_time" type="double" value="20"/>
<param name="agent_step_time" type="double" value=".1"/>
<param name="load_q" type="bool" value="False"/>
<param name="write_q" type="bool" value="True"/>
<param name="write_psi" type="bool" value="True"/>
<param name="temp_file_path" type="String" value="/home/aaron/mines_temp"/>


<node pkg="mines" type="main.py" name="main" output="screen">
</node>

<node pkg="mines" type="agent_standard.py" name="a1" output="screen">
</node>

<node pkg="mines" type="agent_standard.py" name="a2" output="screen">
</node>

<node pkg="mines" type="agent_standard.py" name="a3" output="screen">
</node>

<node pkg="mines" type="agent_standard.py" name="a4" output="screen">
</node>

<node pkg="mines" type="agent_standard.py" name="a5" output="screen">
</node>

<node pkg="mines" type="agent_standard.py" name="a6" output="screen">
</node>

<node pkg="mines" type="agent_standard.py" name="a7" output="screen">
</node>

<node pkg="mines" type="agent_standard.py" name="a8" output="screen">
</node>


</launch>
